$fonColor: #fff;
$webstydioLink: #2196F3;
$titleText: #212121;
$textColor: #757575;
$colorBleck: #000000;
$fondColor: #2F303A;
$borderHeader: #ECECEC;
$hoverFocusBtn: #188ce8;
$bgFonColor: #F5F4FA;
$bgColorAd: rgba(47, 48, 58, 0.8);
$bgColorSocial: rgba(255, 255, 255, 0.1);
$socNetwerk: #AFB1B8;
$contactColor: rgba(255, 255, 255, 0.6);
$borderColor: rgba(255, 255, 255, 0.3);
$borderSolid: #eeeeee;
$thumbOverlay: rgba(33, 150, 243, 0.9);
$modalBgColor: rgba(0, 0, 0, 0.5);
$inputColor: #2a2a2a;
$inputBorderColor: rgba(33, 33, 33, 0.2);
$textareaColor: rgba(117, 117, 117, 0.5)